.ansibleCheck {
    color: var(--pf-v5-global--success-color--100);
}

.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-dropdown__toggle-text {
    @media screen and (min-width: 884px) {
        min-width: 150px !important;
    }
}

.ins-c-center-text{
    text-align: center;
}

.pf-v5-c-table tr > :last-child {
    --pf-v5-c-table--cell--PaddingRight: 0px;
}

.pf-v5-c-chip-group__list {
    margin-bottom: 0;
}

// Remove border under parent row when expanded
.pf-v5-c-table tr.expanded-row {
    border-bottom: none;
}

.pf-v5-c-table__expandable-row .pf-v5-c-table__expandable-row-content {
    padding: 0;
}