.ansibleCheck {
    color: var(--pf-global--success-color--100);
}

.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-c-dropdown__toggle-text {
    @media screen and (min-width: 884px) {
        min-width: 150px !important;
    }
}

.ins-c-center-text{
    text-align: center;
}

.pf-c-table tr > :last-child {
    --pf-c-table--cell--PaddingRight: 0px;
}
