.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v6-c-dropdown__toggle-text {
    @media screen and (min-width: 884px) {
        min-width: 150px !important;
    }
}

.ins-c-center-text{
    text-align: center;
}

.pf-v6-c-table tr > :last-child {
    --pf-v6-c-table--cell--PaddingRight: 0px;
}

.pf-v6-c-chip-group__list {
    margin-bottom: 0;
}
