.levelAlignOverride {
  align-items: start;
}

.mainPaddingOverride {
  padding-top: 0;
  padding-bottom: 0;
}

.levelItemPaddingOverride {
  padding-bottom: 32px;
}

.svgAlignmentOverride {
  padding-top: 9px;
}

.maxWidthOverride {
  max-width: 400px;
}

.pf-c-clipboard-copy__group-copy {
  background-color: var(--pf-global--BackgroundColor--100);
}

.pf-l-stack {
  color: var(--pf-c-empty-state__body--Color);
}
