.levelAlignOverride {
  align-items: start;
}

.mainPaddingOverride {
  padding-top: 0;
  padding-bottom: 0;
}

.levelItemPaddingOverride {
  padding-bottom: 32px;
}

.svgAlignmentOverride {
  padding-top: 9px;
}

.maxWidthOverride {
  max-width: 400px;
}
