.chart-container{
  height: 200px;
  width: 200px;
  .VictoryContainer {
    height: 200px !important;
    left: -12px;
    top: -36px;
  }
}

.chart-inline {
  svg:not(:root) {
    overflow: visible; }
    .pf-l-grid {
      width: 400px;
      .pf-l-grid__item {
        width: 200px;
      }
    }
}
