{
  "presets": [
    ["@babel/env", {
      "shippedProposals": true
    }],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "lodash",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
