.adv-system-reboot-message {
  display: inline-flex;
  align-items: baseline;
  .adv-c-text-system-reboot-message {
    position: relative;
  }
  .adv-c-icon-reboot-required {
    align-self: center;
    margin-right: var(--pf-v6-global--spacer--sm);
    color: var(--pf-v6-global--palette--red-100);
  }
  .adv-c-icon-no-reboot-required {
    align-self: center;
    margin-right: var(--pf-v6-global--spacer--sm);
    color: var(--pf-v6-global--palette--black-400);
  }
}
