.adv-c-system-reboot-message {
  display: inline-flex;
  &__content {
    position: relative;
  }
  .adv-icon {
    margin-top: 5px;
    margin-right: var(--pf-global--spacer--sm);
    &-reboot-required {
      color: var(--pf-global--palette--red-100);
    }
    &-no-reboot-required {
      color: var(--pf-global--palette--black-400);
    }
  }
}
