.iconOverride {
    color: var('--pf-global--link--Color');
    margin-right: 5px;
}

.downloadButtonOverride {
    @media only screen and (max-width: 585px) {
        float: none;
        padding-left: 0px;
    }
}
