.pageHeaderOverride {
  padding-bottom: 0px;
}

.cardBorderOverride {
  border-left: var(--pf-global--BorderWidth--lg) solid var(--pf-global--info-color--200);
  margin-bottom: var(--pf-global--spacer--md);
  .pf-c-card__head {
    color: var(--pf-global--info-color--200);
    padding-top: var(--pf-global--spacer--md);
  }
}

.pf-c-card__body {
  padding-bottom: var(--pf-global--spacer--md);
}
