.pageHeaderOverride {
  padding-bottom: 0px;
}

.cardOverride {
  margin-bottom: var(--pf-global--spacer--md);
}

.titleOverride {
  margin-bottom: var(--pf-global--spacer--lg);
}

.pf-c-card__body {
  padding-bottom: var(--pf-global--spacer--md);
}