.ins-c-inventory-insights__overrides {
  .adv-c-card-empty-rule div {
    text-align: center;
  }

  .successColorOverride {
    color: var(--pf-v5-global--success-color--100);
  }

  .chartSpikeIconColor {
    color: var(--pf-v5-global--primary-color--100);
  }

  .pf-v5-c-clipboard-copy__group-copy {
    background-color: var(--pf-v5-global--BackgroundColor--100);
  }

  .pf-v5-l-stack {
    color: var(--pf-v5-c-empty-state__body--Color);
  }

  .ins-c-insights__check {
    color: var(--pf-v5-global--success-color--200);
  }

  .ins-c-background__default {
    color: var(--pf-v5-global--BackgroundColor--100);
  }

  .ins-c-center-text {
    text-align: center;
  }
}
