.ins-c-inventory-insights__overrides {
  .adv-c-card-empty-rule div {
    text-align: center;
  }

  .successColorOverride {
    color: var(--pf-v6-global--success-color--100);
  }

  .chartSpikeIconColor {
    color: var(--pf-v6-global--primary-color--100);
  }

  .pf-v5-c-clipboard-copy__group-copy {
    background-color: var(--pf-v6-global--BackgroundColor--100);
  }

  .pf-v5-l-stack {
    color: var(--pf-v6-c-empty-state__body--Color);
  }

  .ins-c-insights__check {
    color: var(--pf-v6-global--success-color--200);
  }

  .ins-c-background__default {
    color: var(--pf-v6-global--BackgroundColor--100);
  }

  .ins-c-center-text {
    text-align: center;
  }
}

// Override Satellite/Foreman styles that impact the styling of the Inventory table
// Prevent the toolbar buttons being pushed to the end of the toolbar
#system-advisor-table .pf-v5-c-toolbar__group {
    flex-grow: 0;
}
#system-advisor-table .pf-v5-c-toolbar__group:first-child {
    margin-right: 1rem;
    width: auto;
}
// Fix the vertical position of the checkbox in the bulk select
#system-advisor-table input[type="checkbox"] {
    margin: 0;
}
