.pf-c-table__sort-indicator {
  margin-left: var(--pf-global--spacer--xs);
}

.pf-c-table th, td {
  padding-right: 0px !important;
}

.pf-c-table tr > :last-child {
  padding-left: var(--pf-global--spacer--xs);
}

.pf-c-table .pf-c-table__sort {
  min-width: initial;
}

table.ins-c-entity-table.pf-c-table .ins-composed-col * {
  font-size: var(--pf-global--FontSize--md);
}
