@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_variables';


.pf-c-label.labelOverride {
    vertical-align: middle;
    margin-left: 20px;
}

.textOverride {
    margin-top: var(--pf-global--spacer--md);
}

.titleOverride {
    margin-bottom: var(--pf-global--spacer--lg);
}