@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all.scss';

.tagsToolbarContainer {
  background-color: var(--pf-global--BackgroundColor--100);
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--light-100);

  .pf-c-dropdown__menu {
    top: 36px !important;
  }

  .dropDownOverride {
    button {
      &::before {
        border: none !important;
      }
    }

    padding-left: var(--pf-global--spacer--md);
  }

  .tags-filter-group {
    display: flex;
    padding: var(--pf-global--spacer--sm) 0 var(--pf-global--spacer--md) var(--pf-global--spacer--md);

    .tags-filter-search-icon {
      position: relative;
      @include rem('left', -30px);
      @include rem('top', 10px);
    }
  }

  .tags-select-group {
    display: flex;

    &:hover {
      background-color: var(--pf-c-select__menu-item--hover--BackgroundColor);
    }

    .tags-select-badge {
      position: relative;
      margin-top: var(--pf-global--spacer--md);
      @include rem('left', -15px);
      @include rem('bottom', 8px);
    }
  }

  .pf-c-select__toggle {
    width: 220px;
    font-size: small;
  }

  .pf-c-select__toggle.pf-m-disabled,
  .pf-c-select__toggle:disabled {
    background-color: var(--pf-global--BackgroundColor--100);

    .pf-c-select__toggle-arrow {
      color: var(--pf-global--BackgroundColor--100);
    }
  }
  
  .pf-c-select {
    max-width: 400px !important;
  }

  .pf-c-check__label {
    max-width: 350px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tagsListContainer {
  .pf-c-data-list {
    border: none;
  }

  .pf-c-data-list__item {
    border: none;

    .pf-c-data-list__item-control {
      padding: 8px 0 8px !important;
    }

    .pf-c-data-list__item-content {
      padding-bottom: 8px !important;
      .pf-c-data-list__cell {
        padding-top: 8px !important;
      }
    }
  }
}
