.incidentLabel {
  background-color: var(--pf-global--danger-color--100);
}

.disabledLabel {
  background-color: var(--pf-global--Color--200);
}

.pf-c-label {
  margin-right: var(--pf-global--spacer--xs);
}
