.incidentLabel {
  background-color: var(--pf-global--danger-color--100)!important;
}

.disabledLabel {
  background-color: var(--pf-global--Color--200)!important;
}

.pf-c-label {
  margin-right: var(--pf-global--spacer--xs);
}
