@import '~@patternfly/patternfly/sass-utilities/_all';

hr {
  border: 0.01rem solid #ccc;
  margin: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md) 0;
}

.ins-c-rule-details__split {
  display: inline-flex;
  justify-content: space-around;
  .pf-l-split__item {
    position: relative;
  }
}

.adv-l-stack-rule-details {
  width: 600px;

  .adv-l-stack-rule-details-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .pf-c-content {
      font-size: var(--pf-global--FontSize--sm);
    }

    .description-stack-override {
      width: 452px;

      .severity-line {
        .ins-l-title {
          width: 150px;
          span {
            font-size: var(--pf-global-FontSize--sm);
          }
        }
      }
    }
  }
}

.topicsCard {
  background-color: var(--pf-global--BackgroundColor--150);
  box-shadow: none;
  word-break: break-word;
}

.alignCenterOverride {
  align-items: center;
  width: 100%;
}

.genericOverride {
  p {
    margin-top: 0;
    margin-bottom: var(--pf-global--spacer--md);
  }
}

@media only screen and (max-width: $pf-global--breakpoint--lg) {
  .ins-c-center-text {
    text-align: left !important;
  }
  .pf-l-split.ins-c-rule-details__split {
    display: block;
    .pf-l-split__item {
      margin: var(--pf-global--spacer--md);
      .pf-l-stack.adv-l-stack-rule-details {
        width: 100%;
        .pf-l-stack__item {
          span.adv-l-stack-rule-detailsitem {
            display: grid;
            grid-column: 1 / 1;
            .pf-c-label {
              margin-bottom: var(--pf-global--spacer--sm);
            }
            .pf-l-stack.description-stack-override {
              width: auto;
              .pf-l-stack__item {
                .ins-c-severity-line {
                  display: block;
                }
              }

            }
          }
        }
      }
    }
  }
}
