@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all';

.pageHeaderOverride {
  padding-bottom: 0px;
}

.cardOverride {
  margin-bottom: var(--pf-global--spacer--md);
}

.titleOverride {
  margin-bottom: var(--pf-global--spacer--lg);
}

.pf-c-card__body {
  padding-bottom: var(--pf-global--spacer--md);
}

.categoryLabel {
  margin-left: var(--pf-global--spacer--md)
}

@media only screen and (max-width: 768px) {
  .ins-c-rec-details__actions_dropdown {
    @include rem('top', -55px);
  }
}
