.ins-c-recommendations-header {
    white-space: nowrap;
    width: auto;
    > * {
        display:inline-block;
    }
    .pf-c-button {
        line-height: var(--pf-global--LineHeight--sm);
    }
}
