@import '../../Utilities.scss';

.metrics {
  @include font-size(13px);
}
.progress-bars {
  height:20px;
  position: relative;
}
.bar {
  background-color: #d9d9d9;
  border-radius: 8px;
  height:6px;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  z-index: 0;
}
.progress-bar {
  border-radius: 8px;
  height: 12px;
  position: absolute;
  z-index: 1;
}
.progress-bar-critical {
  //background-color: var(pf-global--danger-color-foo);
  background-color: var(--pf-global--danger-color--100);
}
.progress-bar-high {
  background-color: #ec7a08;
}
.progress-bar-medium {
  background-color: var(--pf-global--warning-color--100);
}
.progress-bar-low {
  background-color: var(--pf-global--success-color--100);
}
