name: cypress-test-run
on: [push, pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Component tests
        run: npm run test:ct
      - name: Jest tests
        run: npm run test
      - name: Create coverage
        run: npm run coverage
